name: CI

on: 
  push: # On any push on a "stable" branch
    branches:
      - main
      - 8.14
      - 8.13
      - 8.12
      - 8.11

  pull_request: # On all pull-request changes
  release: # At release time
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        coq_version: 
          - 'dev'
        ocaml_version:
          - '4.14.2-flambda'
        target: [ dune hott ]
      fail-fast: false

    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Rocq Equations Packages
        uses: coq-community/docker-coq-action@v1
        with:
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
          install: |
            startGroup "Install dependencies"
              sudo apt-get update -y -q
              opam pin add -n -y -k path .
              opam update -y
              opam install --confirm-level=unsafe-yes -j 2 rocq-equations.dev rocq-equations-hott.dev --deps-only
            endGroup
          script: |
            startGroup "Build"
              opam install --confirm-level=unsafe-yes -j 2 rocq-equations.dev rocq-equations-hott.dev
              opam list
            endGroup
          uninstall: |
            startGroup "Uninstallation test"
              opam remove -y rocq-equations.dev
            endGroup