name: CI

on: 
  push: # On any push on a "stable" branch
    branches:
      - master
      - 8.14
      - 8.13
      - 8.12
      - 8.11

  pull_request: # On all pull-request changes
  release: # At release time
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        coq_version: 
          - '8.14'
        ocaml_version:
          - '4.07-flambda'
        target: [ local ] # wait for hott package to test the hott and dune builds
      fail-fast: false

    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Docker-Coq-Action
        uses: coq-community/docker-coq-action@v1
        with:
          opam_file: 'coq-equations.opam'
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
          before_script: |
            startGroup "Workaround permission issue"
              sudo chown -R coq:coq .  # <--
              ocamlfind list
            endGroup
          script: |
            startGroup "Build project"
              opam exec -- ./configure.sh --enable-${{matrix.target}}
              opam exec -- make -j 2 ci-${{matrix.target}}
            endGroup
          uninstall: |
            startGroup "Clean project"
              make clean
            endGroup

      - name: Revert permissions
        # to avoid a warning at cleanup time
        if: ${{ always() }}
        run: sudo chown -R 1001:116 .  # <--
